*
{
  box-sizing: border-box;
}

body
{
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #333;
}

/* Increase the font size of the heading */
.header h1
{
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar
{
  overflow: hidden;
  background-color: #212121;
}

/* Style the navigation bar links */
.navbar a 
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

  
/* Change color on hover */
.navbar a:hover
{
  background-color: #ddd;
  color: black;
}

.container
{
  color: white;
  background-color: black;
  font-size: 1.6em;
  margin-left: 25%;
  margin-right:25%;
  
}

#text
{
  text-align: center;
}

#images
{
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

input
{
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 1em;
  margin-top:15px;
}

#buttonBox
{
  text-align: center;
}

button
{
  margin-left: 10px;
  margin-top: 15px;
  height: 22px;
  font-size: 14px;
}